<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3manRMK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3manRMK.Properties.Settings>
            <setting name="userFIO" serializeAs="String">
                <value>Стажёр Иванов</value>
            </setting>
            <setting name="userINN" serializeAs="String">
                <value>000000000000</value>
            </setting>
        </_3manRMK.Properties.Settings>
    </userSettings>
</configuration>